@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.authdash{
    @apply flex mb-4
}

.navs, button{
    @apply flex items-center cursor-pointer relative
}
button span{
    @apply text-white text-lg
}
.navs .ico, button span{
    @apply mr-3
}
button .icon-acc{
    @apply text-white w-4 h-4 hover:scale-50
}
.ico .iconne{
    @apply w-8 h-8 text-green-700 font-bold
}
/* --------------------------------------------------------------------- */
.affiche{
    @apply bg-gray-900 rounded-lg absolute top-14 left-20 hidden transition-all
}
.affiche ul li{
    @apply hover:bg-gray-600 hover:p-2 rounded-lg p-2 hover:w-48
}
.affiche ul li a{
    @apply text-white p-2
}



/* ------------------------------------------------------------- */
.visible{
    @apply block transition-all
}
/* --------------------------------------------------------------------- */
.det{
    @apply text-white font-bold text-lg ml-4
}

.sum{
    @apply pl-10
}
.sum li{
    @apply hover:bg-gray-600 hover:p-2 rounded-lg p-2 hover:w-48
}



.liens{
    @apply block p-2 hover:bg-gray-900 rounded-lg font-semibold first-letter:text-red-700 first-letter:text-xl text-xl
}

/* ***************************************************gestion stade design********************************************** */
.creation{
    @apply border-2 p-2 bg-white rounded-lg shadow-lg
}
.listes{
    @apply mt-2 flex justify-end
}
.listes a{
    @apply bg-blue-950 rounded-lg p-2 text-white italic hover:bg-blue-800 active:scale-[1.2] active:transition-[0.6s]
}
.bars{
    @apply h-2 bg-red-950 mt-4
}
.groupe{
    @apply grid mt-2
}
.groupe input{
    @apply p-1 rounded-md outline-none border-0 bg-gray-200 w-full
}
.groupe select{
    @apply outline-none p-1 border-0 bg-gray-200
}
.groupe button{
    @apply bg-red-950
    w-32 m-auto rounded-full
    mt-4 p-2 text-white hover:bg-red-900
    active:scale-[1.2] active:transition-[0.6s]
}
.groupe textarea{
    @apply h-10 outline-none border-0 bg-gray-200 resize-none rounded-lg
}
.groupe .ims{
    @apply  h-20 w-20 rounded-lg  object-cover overflow-hidden mb-2
}

.groupe .ims img{
    @apply w-full h-full
}
/* *****************************************profile******************************************** */
.profile{
    @apply flex lg:ml-[90%] md:ml-[80%] gap-3 items-center
}

.teams{
    @apply mt-36 w-52
}

/* -----------------------------iconn------------------------------------------------ */

.dimitrio{
    border-top-left-radius: 150px;
    border-top-right-radius: 15px;
    transform: rotate(270deg);
}
.dims{
    border-bottom-right-radius: 15px;
}


